* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
ul {
  padding-left: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
  padding: 0.7em 1.5em;
  background-color: #0b69ff;
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
